<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ SUBLINE|default("We're working hard to finish the development of this site. Our target launch date is <strong>January 2022</strong>! ")}}">
    <meta name="author" content="">

    <title>{{ TITLE|default('Coming Soon!') }}</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/coming-soon.min.css" rel="stylesheet">

    <style type="text/css">
      .overlay {
        background-color: #fff;
      }
    </style>

    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">

      {% if MAIN_COLOR %}
      <style type="text/css">
        .masthead .masthead-bg {
          background-color: {{ MAIN_COLOR }};
          background-size:cover;
        }
      </style>
    {% endif %}
  </head>

  <body>
    <div class="overlay"></div>
    {% if BACKGROUND_IMAGE %}
      <style type="text/css">
        body {
          background-image: url('{{ BACKGROUND_IMAGE }}');
          background-size: cover;
          background-repeat: no-repeat;
        }
      </style>
    {% else %}
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="{{ VIDEO_URL|default('mp4/bg.mp4') }}" type="video/mp4">
    </video>
    {% endif %}

    <div class="masthead">
      <div class="masthead-bg"></div>
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-12 my-auto">
            <div class="masthead-content text-white py-5 py-md-0">
              <h1 class="mb-3">{{ TITLE|default("Coming Soon!") }}</h1>
              <p class="mb-5">{{ SUBLINE|default("We're working hard to finish the development of this site. Our target launch date is <strong>January 2022</strong>! ")}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="social-icons">
      <ul class="list-unstyled text-center mb-0">
          {% if TWITTER_URL %}
            <li class="list-unstyled-item">
              <a href="{{ TWITTER_URL }}">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
          {% endif %}

          {% if FACEBOOK_URL %}
            <li class="list-unstyled-item">
              <a href="{{ FACEBOOK_URL }}">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
          {% endif %}

          {% if INSTAGRAMM_URL %}
            <li class="list-unstyled-item">
              <a href="{{ INSTAGRAMM_URL }}">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          {% endif %}
      </ul>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/coming-soon.min.js"></script>
  </body>

</html>
